
.fakeFont{
  font-family:'Dancing Script', cursive;
  font-size:150%;
  font-style: bold;
}
#amazonName{
  color: #f89c3c;
}

.header{
    background: url("/turboapp/apps/web/src/images/Amazon.jpeg") center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 100%;
    position: flex;
    height: 15vh;
    display: flex;
  }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

.navbar{
    color: #edf0f1;
    position: relative;
    z-index: 50;
    display:flex;
    opacity: 0.87;
    margin-top: 10px;
    padding: 0 40px;
    align-items: baseline;
    background-color: #282c3c;
    width: 100%;
    transition: 0.5s;
    background: url("/turboapp/apps/web/src/images/Amazon.jpeg") center fixed;

  
  }
  
  
  .navbar a, ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: 400;
    padding: 10px 15px;
    font-weight: 20px;
    margin: 0 5px;
    display: flex;
    text-decoration: none;
  }


  .navbar .colorofAmazonlogo{
    color: #f89c3c;
    }


  .navbar li{
    display: inline-block;
    padding: 0 15px;
    transition: all 0.5s ease-out;
  }

  .navbar a:hover{
    color: #f89c3c;
  }


  .container h1{
    font-size: 50px;
    text-align: center;
    display: center;
  }
  
  .container p{
    font-size: 20px;
    text-align: center;
    display: center;
  }
  .text-content{
    align-items: center;
    position: relative;
    color: #edf0f1;
    display: flex;
    flex-direction:column;
    margin-top: 40px;

  }

  .text-content::after {
    content: " ";
    display: table;
    clear: both;
  }
  
    .textcontent {
      background: url("/turboapp/apps/web/src/images/Amazon.jpeg") center fixed;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      color: #edf0f1;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
  }

  .textcontent::after {
    content: " ";
    display: table;
    clear: both;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-fluid{
    background: url("/turboapp/apps/web/src/images/Amazon.jpeg") center fixed;
    height: 100%;
  }
    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .test{
      color: #282c3c;
    }
    /*
    .my-second-row{
      color: #ffffff;
      text-align: center;
      position: absolute;
      margin-bottom: 40%;
      display: inline;
      padding-top: 120px;
      padding-bottom: 25%;
      padding-left: 22%;
      padding-right: 23%;
      margin-right:30px;
    }

    .my-second-row p{
        padding-top: 45px;
    }
  
    .my-first-row{
        
        color: #ffffff;
        text-align: center;
        position: relative;
        margin-bottom: 40%;
        display: inline;
        padding-top: 120px;
        padding-bottom: 25%;
        padding-left: 23%;
        padding-right: 23%;
  
    }
  
    .my-third-row{
      color: #ffffff;
      text-align: center;
      position: absolute;
      display: inline;
      padding-top: 200px;
      padding-bottom: 25%;
      padding-left: 23%;
      padding-right: 23%;
      
    }
  */
    .btn-dark{
      font-family: 'Dancing Script', cursive;
      font-size: 20px;
    }
  
    .btn-dark:hover{
      background-color:#f89c3c;
      color: black;
      cursor: pointer;
    }
  
    .btn-dark span::after{
      cursor: pointer;
      transition: 0.4;
    }

    .footer {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        background-color:rgb(28, 29, 31***REMOVED***
        clear: both;
        flex-direction: column;
        width: 100%;
        position: relative;
        right:0;
        left:0;
        bottom: 0;
        padding-top: 10px;
        height: auto;
        text-align: center;
        font-size: smaller;
        opacity: 1.1;
      }

      .medialogo .fa{
          align-items: center;
          text-align: center;
          color: white;
          flex-direction: column;
          font-size:x-large;
          padding: 10px;
          width: 30px;
          
      }

      .medialogo p{
          padding-bottom: 40px;
      }

      
      .fa:hover{
          color: #f89c3c;
          cursor: pointer;
        
      }

      