<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>FakeAmazon</title>
    <link rel="stylesheet" href="mainpage.component.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <app-header></app-header>

    <app-image-slider></app-image-slider>

    <!-- featured section starts -->

    <section class="featured" id="featured">
      <h1 class="heading"><span>Featured items</span></h1>

      <app-featured-items></app-featured-items>
    </section>

    <!-- featured section ends -->
  </body>
</html>
