a{
  text-decoration: none;
}

h2{
font-weight: bolder;
}

.fakeFont{
  font-family:'Dancing Script', cursive;
  font-size:130%;
  font-style: bold;
}
#amazonName{
  color: #f89c3c;
}

.colorofAmazonlogo{
  color: #f89c3c;
  }

.header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .header .logo {
    font-size: 30px;
    font-weight: bold;
    color: rgb(83, 126, 219);
  }
  .header .nav-bar .search-bar {
    width: 800px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header .nav-bar .search-bar input {
    width: 100%;
    height: 100%;
    font-size: large;
    padding: 15px;
  }

  /* @media (max-width:991px){

    html{
      font-size: 55%;
    }
  } */
  
  .header .nav-bar .search-bar label {
    font-size: 30px;
    color: rgb(83, 126, 219);
    padding-left: 10px;
  }
  .header .nav-bar .search-bar label:hover {
    color: blue;
  }
  .header .nav-bar .left-icons a {
    font-size: 30px;
    color: rgb(83, 126, 219);
  }
  .header .nav-bar .left-icons a:hover {
    color: blue;
  }
  .header .nav-bar-2 {
    text-align: center;
    background-color: rgb(59, 59, 68);
    height: 40px;
  }
  .header .nav-bar-2 .nav-bar-aisle {
    padding: 5px;
    background-color: #282c3c;
  }
  .header .nav-bar-2 .nav-bar-aisle a {
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    font-size: 25px;
    color: white;
  }
  .header .nav-bar-2 .nav-bar-aisle a:hover {
    background-color: rgb(198, 198, 214);
  }
  .heading {
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    position: relative;
  }
  
  .heading span {
    color: rgb(83, 126, 219);
  }