<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Buyer Page</title>
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <link
      rel="stylesheet"
      href="/turboapp/apps/web/src/app/components/pages/checkoutpage/checkoutpage.component.css"
    />
    <link
      rel="stylesheet"
      href="/turboapp/apps/web/src/app/components/footer/footer.component.css"
    />
    <link
      rel="stylesheet"
      href="/turboapp/apps/web/src/app/components/navbar1/navbar1.component.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <style>
      .my-first-row {
        background-color: transparent;
      }

      .my-second-row {
        background-color: transparent;
      }
    </style>
    <app-header></app-header>

    <div class="container-2">
      <div class="row"></div>
      <div class="row checkout-header">
        <h1>Orders</h1>
      </div>
      <div class="row back-to-cart">
        <a [routerLink]="['/mainpage']" (click)="routeToMainPage()">
          <i class="fa fa-arrow-left"> Go back</i>
        </a>
      </div>

      <div class="container">
        <div class="row checkout-form">
          <div class="col shopping-cart-form">
            <h1>Order Summary</h1>
            <hr />
            <table style="width: 100%" class="responsive">
              <tr>
                <th>Order</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Image</th>
              </tr>
              <tr *ngFor="let order of orders; index as i;"> 
                <td> Order {{i+1}}</td>
                
                
                <td><ul style="list-style-type:none"><li *ngFor="let product of order;">{{product.name}}</li></ul></td>
                <td><ul style="list-style-type:none"><li *ngFor="let product of order;">{{product.quantity}}</li></ul></td>
                <!-- <td><ul><li *ngFor="let product of order;"><img src="{{product.link}}" alt=""></li></ul></td> -->
                <!-- <ul><li *ngFor="let product of order;">{{product.quantity}}</li></ul> -->
                <!-- <td *ngFor="let product of order;">{{product.name}}</td>
                <td *ngFor="let product of order;">{{product.quantity}}</td> -->
                <td *ngFor="let product of order;"><img src="{{product.link}}" alt=""></td>
                
                
              </tr>

              <hr class="hr-2" />
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row row-test">!</div>
      <div class="row row-test">!</div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <div class="container-fluid">
      <div class="row footer-row">
        <footer class="col-12 footer">
          <h4>Fake Amazon Inc.</h4>
          <p>
            Thank you for using our website.
            <br />
            We are a small group of entrepreneurs trying to become the next Jeff
            Bezos.
          </p>
          <div class="medialogo">
            <a href="#" class="fa fa-facebook"></a>

            <a href="#" class="fa fa-twitter"></a>

            <a href="#" class="fa fa-instagram"></a>

            <a href="#" class="fa fa-reddit"></a>
          </div>

          <p>
            Don't forget to follow us on social media for a chance to win 1 year
            worth of free socks!
          </p>
          <br />
          Copyright &copy; FakeAmazon All rights reserved.
        </footer>
      </div>
    </div>
  </body>
</html>
