<header class="header">
  <div class="navbar">
    <h1 class="colorofAmazonlogo">
      <span style="color:rgb(230, 8, 8)" class="fakeFont">Fake</span>Amazon
    </h1>
    <nav>
      <ul>
        <li><a [routerLink]='["/mainpage"]' (click)="routeToMainPage()">Home</a></li>
        <li> <a [routerLink]='["/shoppingcart"]' (click)="routeToShoppingCart()">Shopping Cart</a></li>
        <li><a [routerLink]='["/signup"]' (click)="routeToSignUpPage()">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>