.fakeFont{
    font-family:'Dancing Script', cursive;
    font-size:150%;
    font-style: bold;
  }
  #amazonName{
    color: #f89c3c;
  }
  
  .header{
      background: url("/turboapp/apps/web/src/images/Amazon.jpeg") center fixed;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      width: 100%;
      position: flex;
      height: 15vh;
      display: flex;
    }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
  
  .navbar{
      color: #edf0f1;
      position: relative;
      z-index: 50;
      display:flex;
      opacity: 0.87;
      margin-top: 10px;
      padding: 0 40px;
      align-items: baseline;
      background-color: #282c3c;
      width: 100%;
      transition: 0.5s;
      background: url("/turboapp/apps/web/src/images/Amazon.jpeg") center fixed;
  
    
    }
    
    
    .navbar a, ul{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #fff;
      font-weight: 400;
      padding: 10px 15px;
      font-weight: 20px;
      margin: 0 5px;
      display: flex;
      text-decoration: none;
    }
  
  
    .navbar .colorofAmazonlogo{
      color: #f89c3c;
      }
  
  
    .navbar li{
      display: inline-block;
      padding: 0 15px;
      transition: all 0.5s ease-out;
    }
  
    .navbar a:hover{
      color: #f89c3c;
    }
  