<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FakeAmazon</title>
    <link rel="stylesheet" href="../shoppingcart/shoppingcart.component.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <!-- header section starts -->

    <app-header></app-header>

    <!-- cart starts-->

    <div class="cart">
      <h2 class="cart-title">Shopping Cart</h2>
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        <tr>
          <td>
            <div *ngFor="let cart of cart" class="cart-box">
              <script>
                console.log("Product: " + product);
              </script>
              <img src="{{ cart.product.link }}" />
              <div class="info-box">
                <p class="cart-product-title">{{ cart.product.name }}</p>
                <small class="cart-product-price">
                  {{ cart.product.price }}$</small
                >
                <br />
                <a
                  class="fas fa-trash"
                  (click)="onDelete(cart.product.product_id)"
                ></a>
              </div>
            </div>
          </td>

          <div class="detail-box">
            <td>
              <input type="number" value="1" min="1" class="cart-quantity" />
            </td>
            <td class="cart-price">$</td>
          </div>
        </tr>
      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td class="subtotal-price"><span>$</span></td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>$</td>
          </tr>
          <tr>
            <td>Delivery Fees</td>
            <td>$</td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="total-price">$</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- cart ends -->
    <script>
      //Update total price
    </script>
  </body>
</html>
