.footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 29, 31);
  clear: both;
  flex-direction: column;
  width: 100%;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  height: auto;
  text-align: center;
  font-size: smaller;
  opacity: 1.1;
  margin-top: 40px;
}

.medialogo .fa {
  align-items: center;
  text-align: center;
  color: white;
  flex-direction: column;
  font-size: x-large;
  padding: 10px;
  width: 30px;
}

.medialogo p {
  padding-bottom: 40px;
}

.fa:hover {
  color: #f89c3c;
  cursor: pointer;
}
