<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid"> 
 
    <div class="row footer-row"> 
        <footer class="col-12 footer">
            <h4> Fake Amazon Inc.</h4>
            <p> 
                Thank you for using our website. 
            <br>
                We are a small group of entrepreneurs trying to become the next Jeff Bezos.
  
            </p>
                <div class="medialogo">
  
                    <a href="#" class="fa fa-facebook"></a>
  
                    <a href="#" class="fa fa-twitter"></a>
  
                    <a href="#" class="fa fa-instagram"></a>
  
                    <a href="#" class="fa fa-reddit"></a>
            
  
                </div>
  
                <p>
                    Don't forget to follow us on social media for a chance to win 1 year worth of free socks!
  
                </p>
            <br> Copyright &copy; FakeAmazon All rights reserved.
  
        </footer>
      </div>
  
  </div>