
.fakeFont{
  font-family:'Dancing Script', cursive;
  font-size:150%;
  font-style: bold;
}
#amazonName{
  color: #f89c3c;
}

.header{
    background: url("/turboapp/apps/web/src/images/Amazon.jpeg") center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 100%;
    position: flex;
    height: 15vh;
    display: flex;
  }

body {
  display: flex;
  flex-direction: column;
}


  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

.navbar{
    color: #edf0f1;
    position: relative;
    z-index: 50;
    display:flex;
    opacity: 0.87;
    margin-top: 10px;
    padding: 0 40px;
    align-items: baseline;
    background-color: #282c3c;
    width: 100%;
    transition: 0.5s;
    background: url("/turboapp/apps/web/src/images/Amazon.jpeg") center fixed;

  
  }
  
  
  .navbar a, ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: 400;
    padding: 10px 15px;
    font-weight: 20px;
    margin: 0 5px;
    display: flex;
    text-decoration: none;
  }


  .navbar .colorofAmazonlogo{
    color: #f89c3c;
    }


  .navbar li{
    display: inline-block;
    padding: 0 15px;
    transition: all 0.5s ease-out;
  }

  .navbar a:hover{
    color: #f89c3c;
  }

.back-menu{
  margin-top: 20px;
}

.back-menu a{
  color:black;
  text-decoration: none;
}

.back-menu a:hover{
  color: #f89c3c;
}
.col-6{
  margin-top: 30px;
}

.col-3{
  margin-top:30px;
}
.item-image{
position: relative;
text-align:right;
align-items: center;
}

.item-description{
  position:relative;
  text-align: center;
  align-items: center;
}

.form{
  margin-top:40px;
  font-weight: bolder;
  font-size:medium;
}

/*
.item-description{
  padding-top: 150px;
  text-align: center;
  align-items: center;
}

.item-description p{
  text-align:center;
}
*/

.btn-block{
  background-color: orange;

}

.product-pictures-row{
  position: relative;
  text-align:center;
  align-items:center;
  padding-top: 20px;
}

.col-2{
  position: center;
}
.col-2 img{
  transition: transform 0.5s;
}
.col-2 img:hover{

  border-radius: 25px;
  border: 1px solid rgb(83, 126, 219);
  transform: scale(0.95)
  
}

.footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color:rgb(28, 29, 31);
  clear: both;
  flex-direction: column;
  width: 100%;
  position: relative;
  right:0;
  left:0;
  bottom: 0;
  padding-top: 10px;
  height: auto;
  text-align: center;
  font-size: smaller;
  opacity: 1.1;
  margin-top: 40px;
}

.medialogo .fa{
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
    font-size:x-large;
    padding: 10px;
    width: 30px;
    
}

.medialogo p{
    padding-bottom: 40px;
}


.fa:hover{
    color: #f89c3c;
    cursor: pointer;
  
}


