<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sign up page</title>
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/turboapp/apps/web/src/app/components/signuppage/signuppage.component.css"
    />
    <link
      rel="stylesheet"
      href="/turboapp/apps/web/src/app/components/footer/footer.component.css"
    />
    <link
      rel="stylesheet"
      href="/turboapp/apps/web/src/app/components/navbar1/navbar1.component.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <style>
      .my-first-row {
        background-color: transparent;
      }

      .my-second-row {
        background-color: transparent;
      }
    </style>
    <app-signup-navbar></app-signup-navbar>

    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 sign-up-form">
          <form
            #usersignup="ngForm"
            (ngSubmit)="onClickSubmit(usersignup.value)"
          >
            <h1>Sign up</h1>
            <br />
            <div id="form-group">
              <label for="firstName">First Name</label>
              <br />
              <input
                type="text"
                ngModel
                required
                name="firstname"
                #firstName="ngModel"
                pattern="^[a-zA-Z ,.'-]+$"
              />
              <div
                class="alert alert-danger"
                *ngIf="!firstName.valid && firstName.touched"
              >
                First name is invalid
              </div>
            </div>
            <br />
            <div id="form-group">
              <label for="lastName">Last Name</label>
              <br />
              <input
                type="text"
                ngModel
                required
                name="lastname"
                #lastName="ngModel"
                pattern="^[a-zA-Z ,.'-]+$"
              />
              <div
                class="alert alert-danger"
                *ngIf="!lastName.valid && lastName.touched"
              >
                Last name is invalid
              </div>
            </div>

            <br />
            <div id="form-group">
              <label for="email">Email</label>
              <br />
              <input
                type="text"
                ngModel
                required
                name="email"
                #email="ngModel"
                pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
              />
              <div
                class="alert alert-danger"
                *ngIf="!email.valid && email.touched"
              >
                Email is invalid
              </div>
            </div>
            <br />
            <div id="form-group">
              <label for="address">Address</label>
              <br />
              <input
                type="text"
                ngModel
                required
                name="address"
                #address="ngModel"
              />
              <div
                class="alert alert-danger"
                *ngIf="!address.valid && address.touched"
              >
                Address is required
              </div>
            </div>
            <br />
            <div id="form-group">
              <label for="password">Password</label>
              <br />
              <input
                type="password"
                ngModel
                required
                name="password"
                #password="ngModel"
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
              />
              <div
                class="alert alert-danger"
                *ngIf="!password.valid && password.touched"
              >
                Password is invalid
              </div>
            </div>

            <br />

            <label for="dob">Date of Birth</label>
            <br />
            <input type="date" name="date" class="input-birth-date" ngModel />
            <br />
            <br />
            <h5>Are you a seller?</h5>
            <span *ngFor="let chk of checkboxes">
              <input
                class="checkbox"
                type="checkbox"
                [disabled]="chk.checked"
                (click)="disableOther(chk)"
                ng-model="check.selected"
              />
              {{ chk.value }}
            </span>
            <br />
            <br />
            <p>
              Already have an account?
              <a [routerLink]="['/login']" (click)="routeToLoginPage()"
                >Log In</a
              >
            </p>
            <br />
            <input
              type="submit"
              [disabled]="!usersignup.valid"
              value="Sign Up"
            />
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <app-footer></app-footer>
  </body>
</html>
