body{
    background-image: url('https://blitzen.com/blog/wp-content/uploads/new-tech.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sign-up-form h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color:red;

}

.sign-up-form ::placeholder{
    font-family: cursive;
}

.sign-up-form h5{
margin-bottom: 15px;
font-family:initial;
}


.form-group input{
    width: 50%;
    margin-left: 25%;
}

.form-group .button{
    margin-right: 50%;
}

.text-danger{
    margin-left: -15px !important;
    text-align: left !important;

}

.sign-up-form form{
    text-align: center;
    margin-top: 80px;
    color: white;
    
}

.sign-up-form a{
    text-decoration: none;
    color:#f89c3c;
}

.sign-up-form a:hover{
    color:red;
}

.sign-up-form .input-seller{
    margin: 10px;
    width: 5%;
}

.sign-up-form .input-buyer{
    margin: 10px;
    width: 5%;

}

.btn-light{
    font-family: cursive;
}

.btn-light:hover{
    background-color:#f89c3c;
    color: black;
    cursor: pointer;
  }

  .btn-light span::after{
    cursor: pointer;
    transition: 0.4;
  }