<ngb-carousel class="carousel" #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
      <h3 *ngIf="i==0">Get cheezy with Cheez it!</h3>
      <h3 *ngIf="i==1">Because we respecc </h3>
      <h3 *ngIf="i==2">Compare spotify minutes with your friends today! </h3>
    </div>
      <div class="picsum-img-wrapper">
        <img [src]="img" alt="My image {{i + 1}} description" class="slideshow">
      </div>
  </ng-template>
</ngb-carousel>

<hr>
