<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FakeAmazon</title>
    <link rel="stylesheet" href="mainpage.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<!-- header section starts -->
<header class="header">
    <div class="nav-bar">
        <a href="#" class="logo">FakeAmazon</a>
        <form action="" class="search-bar">
            <input type="search" name="" placeholder="Search" id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="left-icons">
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user"></a>
        </div>
    </div>

    <div class="nav-bar-2">
        <nav class="nav-bar-aisle">
            <a href="#">Home</a>
            <a href="#">Deals</a>
            <a href="#">Featured</a>
        </nav>
    
    </div>

</header>

<!-- header section ends -->

<!-- featured section starts -->

<section class="featured" id="featured">
    <h1 class="heading"><span>Featured items</span></h1>
    <div class="featured-slider">
        <div class="wrapper">           
            <div class="box">
                <div class="image">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/15/DVD/04_-_NEW_FamilyStripe_AirPods_3rd._CB653734269_.png" alt="">
                </div>
                <div class="content">
                    <h3>Featured item</h3>
                    <div class="price"><span>5.99</span></div>
                    <a href="#" class="btn">Add to cart</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/15/DVD/04_-_NEW_FamilyStripe_AirPods_3rd._CB653734269_.png" alt="">
                </div>
                <div class="content">
                    <h3>Featured item</h3>
                    <div class="price"><span>5.99</span></div>
                    <a href="#" class="btn">Add to cart</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/15/DVD/04_-_NEW_FamilyStripe_AirPods_3rd._CB653734269_.png" alt="">
                </div>
                <div class="content">
                    <h3>Featured item</h3>
                    <div class="price"><span>5.99</span></div>
                    <a href="#" class="btn">Add to cart</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/15/DVD/04_-_NEW_FamilyStripe_AirPods_3rd._CB653734269_.png" alt="">
                </div>
                <div class="content">
                    <h3>Featured item</h3>
                    <div class="price"><span>5.99</span></div>
                    <a href="#" class="btn">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- featured section ends -->
<h1 class="title">Fake Amazon</h1>

<app-image-slider [images]="[
  '/assets/images/cat1.jpg',
  '/assets/images/cat2.jpg',
  '/assets/images/cat3.jpg']"></app-image-slider>
</body>
</html>

